<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buymall.mapper.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.buymall.entity.Banner" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="ITEM_URL" property="itemUrl" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="BANNER_DESC" property="bannerDesc" jdbcType="VARCHAR" />
    <result column="BANNER_TYPE" property="bannerType" jdbcType="INTEGER" />
    <result column="PAGE" property="page" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, ITEM_URL, IMG_URL, BANNER_DESC, BANNER_TYPE, PAGE, POSITION, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from banner
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from banner
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.buymall.entity.Banner" >
    insert into banner (ID, TITLE, ITEM_URL, 
      IMG_URL, BANNER_DESC, BANNER_TYPE, 
      PAGE, POSITION, CREATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{itemUrl,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{bannerDesc,jdbcType=VARCHAR}, #{bannerType,jdbcType=INTEGER}, 
      #{page,jdbcType=VARCHAR}, #{position,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.buymall.entity.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="itemUrl != null" >
        ITEM_URL,
      </if>
      <if test="imgUrl != null" >
        IMG_URL,
      </if>
      <if test="bannerDesc != null" >
        BANNER_DESC,
      </if>
      <if test="bannerType != null" >
        BANNER_TYPE,
      </if>
      <if test="page != null" >
        PAGE,
      </if>
      <if test="position != null" >
        POSITION,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="itemUrl != null" >
        #{itemUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerDesc != null" >
        #{bannerDesc,jdbcType=VARCHAR},
      </if>
      <if test="bannerType != null" >
        #{bannerType,jdbcType=INTEGER},
      </if>
      <if test="page != null" >
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buymall.entity.Banner" >
    update banner
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="itemUrl != null" >
        ITEM_URL = #{itemUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerDesc != null" >
        BANNER_DESC = #{bannerDesc,jdbcType=VARCHAR},
      </if>
      <if test="bannerType != null" >
        BANNER_TYPE = #{bannerType,jdbcType=INTEGER},
      </if>
      <if test="page != null" >
        PAGE = #{page,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buymall.entity.Banner" >
    update banner
    set TITLE = #{title,jdbcType=VARCHAR},
      ITEM_URL = #{itemUrl,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      BANNER_DESC = #{bannerDesc,jdbcType=VARCHAR},
      BANNER_TYPE = #{bannerType,jdbcType=INTEGER},
      PAGE = #{page,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 分页查询所有属性 -->
  <select id="findByPage" resultMap="BaseResultMap">
	select 
    <include refid="Base_Column_List" />
    from banner
    where 1=1
      and banner_type = ${bannerType}
    order by position
    <!-- 分页 -->
    <if test="page_sql != null and page_sql !=''"  >
       ${page_sql}
    </if>
  </select>
  
  <!-- 查询所有属性 -->
  <select id="findAll" resultMap="BaseResultMap">
	select 
    <include refid="Base_Column_List" />
    from banner
    order by create_time desc
  </select>
</mapper>