<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buymall.mapper.MemProductMapper" >
  <resultMap id="BaseResultMap" type="com.buymall.entity.MemProduct" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="BZ1" property="bz1" jdbcType="VARCHAR" />
    <result column="BZ2" property="bz2" jdbcType="VARCHAR" />
    <result column="BZ3" property="bz3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MEMBER_ID, PRODUCT_ID, CREATE_TIME, BZ1, BZ2, BZ3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mem_product
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mem_product
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.buymall.entity.MemProduct" >
    insert into mem_product (ID, MEMBER_ID, PRODUCT_ID, 
      CREATE_TIME, BZ1, BZ2, 
      BZ3)
    values (#{id,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{bz1,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, 
      #{bz3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.buymall.entity.MemProduct" >
    insert into mem_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="bz1 != null" >
        BZ1,
      </if>
      <if test="bz2 != null" >
        BZ2,
      </if>
      <if test="bz3 != null" >
        BZ3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buymall.entity.MemProduct" >
    update mem_product
    <set >
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bz1 != null" >
        BZ1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        BZ2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        BZ3 = #{bz3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buymall.entity.MemProduct" >
    update mem_product
    set MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      BZ1 = #{bz1,jdbcType=VARCHAR},
      BZ2 = #{bz2,jdbcType=VARCHAR},
      BZ3 = #{bz3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据产品ID删除 -->
  <delete id="deleteByProductId" parameterType="java.lang.String" >
    delete from mem_product
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
  </delete>
</mapper>