<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buymall.mapper.PlatformActivityMapper" >
  <resultMap id="BaseResultMap" type="com.buymall.entity.PlatformActivity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ITEM_URL" property="itemUrl" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CLIENT_TYPE" property="clientType" jdbcType="INTEGER" />
    <result column="PLATFORM" property="platform" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EXPIRE_TIME" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="ACTIVITY_DESC" property="activityDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ITEM_URL, TITLE, CLIENT_TYPE, PLATFORM, CREATE_TIME, EXPIRE_TIME, START_TIME, 
    ACTIVITY_DESC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from platform_activity
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from platform_activity
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.buymall.entity.PlatformActivity" >
    insert into platform_activity (ID, ITEM_URL, TITLE, 
      CLIENT_TYPE, PLATFORM, CREATE_TIME, 
      EXPIRE_TIME, START_TIME, ACTIVITY_DESC
      )
    values (#{id,jdbcType=VARCHAR}, #{itemUrl,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{clientType,jdbcType=INTEGER}, #{platform,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{activityDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.buymall.entity.PlatformActivity" >
    insert into platform_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="itemUrl != null" >
        ITEM_URL,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="clientType != null" >
        CLIENT_TYPE,
      </if>
      <if test="platform != null" >
        PLATFORM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="expireTime != null" >
        EXPIRE_TIME,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="activityDesc != null" >
        ACTIVITY_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemUrl != null" >
        #{itemUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        #{clientType,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityDesc != null" >
        #{activityDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buymall.entity.PlatformActivity" >
    update platform_activity
    <set >
      <if test="itemUrl != null" >
        ITEM_URL = #{itemUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        CLIENT_TYPE = #{clientType,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        PLATFORM = #{platform,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        EXPIRE_TIME = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityDesc != null" >
        ACTIVITY_DESC = #{activityDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buymall.entity.PlatformActivity" >
    update platform_activity
    set ITEM_URL = #{itemUrl,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CLIENT_TYPE = #{clientType,jdbcType=INTEGER},
      PLATFORM = #{platform,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      EXPIRE_TIME = #{expireTime,jdbcType=TIMESTAMP},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      ACTIVITY_DESC = #{activityDesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>