<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobilemall.mapper.FrameUrlMapper" >
  <resultMap id="BaseResultMap" type="com.mobilemall.entity.FrameUrl" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="T_URL" property="tUrl" jdbcType="VARCHAR" />
    <result column="T_NAME" property="tName" jdbcType="VARCHAR" />
    <result column="T_SORT" property="tSort" jdbcType="INTEGER" />
    <result column="T_TYPE" property="tType" jdbcType="INTEGER" />
    <result column="T_DESC" property="tDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, T_URL, T_NAME, T_SORT, T_TYPE, T_DESC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from frame_url
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllUrl" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from frame_url
    where T_TYPE=#{type,jdbcType=INTEGER}
    order by T_SORT
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from frame_url
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mobilemall.entity.FrameUrl" >
    insert into frame_url (ID, T_URL, T_NAME, 
      T_SORT, T_TYPE, T_DESC
      )
    values (#{id,jdbcType=INTEGER}, #{tUrl,jdbcType=VARCHAR}, #{tName,jdbcType=VARCHAR}, 
      #{tSort,jdbcType=INTEGER}, #{tType,jdbcType=INTEGER}, #{tDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mobilemall.entity.FrameUrl" >
    insert into frame_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tUrl != null" >
        T_URL,
      </if>
      <if test="tName != null" >
        T_NAME,
      </if>
      <if test="tSort != null" >
        T_SORT,
      </if>
      <if test="tType != null" >
        T_TYPE,
      </if>
      <if test="tDesc != null" >
        T_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tUrl != null" >
        #{tUrl,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tSort != null" >
        #{tSort,jdbcType=INTEGER},
      </if>
      <if test="tType != null" >
        #{tType,jdbcType=INTEGER},
      </if>
      <if test="tDesc != null" >
        #{tDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mobilemall.entity.FrameUrl" >
    update frame_url
    <set >
      <if test="tUrl != null" >
        T_URL = #{tUrl,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        T_NAME = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tSort != null" >
        T_SORT = #{tSort,jdbcType=INTEGER},
      </if>
      <if test="tType != null" >
        T_TYPE = #{tType,jdbcType=INTEGER},
      </if>
      <if test="tDesc != null" >
        T_DESC = #{tDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mobilemall.entity.FrameUrl" >
    update frame_url
    set T_URL = #{tUrl,jdbcType=VARCHAR},
      T_NAME = #{tName,jdbcType=VARCHAR},
      T_SORT = #{tSort,jdbcType=INTEGER},
      T_TYPE = #{tType,jdbcType=INTEGER},
      T_DESC = #{tDesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>