<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobilemall.mapper.LoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.mobilemall.entity.LoginLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APP_NAME" property="appName" jdbcType="VARCHAR" />
    <result column="LOGIN_TYPE" property="loginType" jdbcType="INTEGER" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ERROR_INFO" property="errorInfo" jdbcType="VARCHAR" />
    <result column="IP_ADDR" property="ipAddr" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_NAME, LOGIN_TYPE, LOGIN_NAME, CREATE_TIME, ERROR_INFO, IP_ADDR, ADDR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from login_log
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from login_log
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mobilemall.entity.LoginLog" >
    insert into login_log (ID, APP_NAME, LOGIN_TYPE, 
      LOGIN_NAME, CREATE_TIME, ERROR_INFO, 
      IP_ADDR, ADDR)
    values (#{id,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{loginType,jdbcType=INTEGER}, 
      #{loginName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{errorInfo,jdbcType=VARCHAR}, 
      #{ipAddr,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mobilemall.entity.LoginLog" >
    insert into login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="appName != null" >
        APP_NAME,
      </if>
      <if test="loginType != null" >
        LOGIN_TYPE,
      </if>
      <if test="loginName != null" >
        LOGIN_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="errorInfo != null" >
        ERROR_INFO,
      </if>
      <if test="ipAddr != null" >
        IP_ADDR,
      </if>
      <if test="addr != null" >
        ADDR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="loginType != null" >
        #{loginType,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errorInfo != null" >
        #{errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mobilemall.entity.LoginLog" >
    update login_log
    <set >
      <if test="appName != null" >
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="loginType != null" >
        LOGIN_TYPE = #{loginType,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errorInfo != null" >
        ERROR_INFO = #{errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        IP_ADDR = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mobilemall.entity.LoginLog" >
    update login_log
    set APP_NAME = #{appName,jdbcType=VARCHAR},
      LOGIN_TYPE = #{loginType,jdbcType=INTEGER},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ERROR_INFO = #{errorInfo,jdbcType=VARCHAR},
      IP_ADDR = #{ipAddr,jdbcType=VARCHAR},
      ADDR = #{addr,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>